@import url('https://fonts.googleapis.com/css2?family=Lato:wght@300&family=Manrope&family=Poppins:wght@200&family=Roboto:wght@300&family=Ubuntu:wght@300&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  background-color: #111111;
}

.animation-pulse {
  position: relative;
  animation: pulse 2s infinite;
}

.animation-pulse:before,
.animation-pulse:after {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  animation: pulse 4s infinite;
  opacity: 0.5;
}

.animation-pulse:after {
  animation-delay: 2s;
}

@keyframes pulse {
  0% {
    transform: scale(0.8);
    box-shadow: 0 0 0 0 rgb(235, 222, 222);
  }

  70% {
    transform: scale(1);
    box-shadow: 0 0 0 60px rgba(229, 62, 62, 0);
  }

  100% {
    transform: scale(0.8);
  }
}